<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mandala</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&amp;family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="app">
      <header class="header">
        <nav class="header__nav navbar navbar-expand-lg">
          <div class="header__content">
            <a class="nav__logo navbar-brand" href="#">
              <div class="logo__first-charbox">
                <p class="logo__first-char">m</p>
              </div>
              <h3 class="logo__char">andala</h3></a
            >
            <div class="nav__content d-none d-lg-flex">
              <ul class="nav__links navbar_nav">
                <li class="nav__link">
                  <div class="dropdowm">
                    <a
                      class="dropdown-toggle"
                      href="#"
                      data-bs-toggle="dropdown"
                      >Trang chủ</a
                    >
                    <div class="dropdown-menu nav-dropdown__menu">
                      <div class="nav-dropdown__wrapper">
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Dưỡng da</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Áo khoác</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bộ áo liền quần</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Dresses</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần / Váy</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần short</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần jean</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Đồ đan</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Áo nỉ</a>
                            </li>
                          </ul>
                        </div>
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Nước hoa</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Áo cánh / Áo sơ mi</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Túi xách &amp; Balo</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Khăn quàng cổ và Foulards</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Dệt kim Hát &amp; Gloves</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Vở &amp; Socks</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Jewerly</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bị bảo vệ</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Giày</a>
                            </li>
                          </ul>
                        </div>
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Trang sức</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Áo cánh / Áo sơ mi</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Túi xách &amp; Balo</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Khăn quàng cổ và Foulards</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Dệt kim Hát &amp; Gloves</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Vở &amp; Socks</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Jewerly</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bị bảo vệ</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Giày</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav__link">
                  <div class="dropdowm">
                    <a
                      class="dropdown-toggle"
                      href="#"
                      data-bs-toggle="dropdown"
                      >Giới thiệu</a
                    >
                    <div class="dropdown-menu nav-dropdown__menu">
                      <div class="nav-dropdown__wrapper">
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Dưỡng da</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Áo khoác</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bộ áo liền quần</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Dresses</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần / Váy</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần short</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần jean</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Đồ đan</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Áo nỉ</a>
                            </li>
                          </ul>
                        </div>
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Nước hoa</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Áo cánh / Áo sơ mi</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Túi xách &amp; Balo</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Khăn quàng cổ và Foulards</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Dệt kim Hát &amp; Gloves</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Vở &amp; Socks</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Jewerly</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bị bảo vệ</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Giày</a>
                            </li>
                          </ul>
                        </div>
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Trang sức</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Áo cánh / Áo sơ mi</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Túi xách &amp; Balo</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Khăn quàng cổ và Foulards</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Dệt kim Hát &amp; Gloves</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Vở &amp; Socks</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Jewerly</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bị bảo vệ</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Giày</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav__link">
                  <div class="dropdowm">
                    <a
                      class="dropdown-toggle"
                      href="#"
                      data-bs-toggle="dropdown"
                      >Sản phẩm</a
                    >
                    <div class="dropdown-menu nav-dropdown__menu">
                      <div class="nav-dropdown__wrapper">
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Dưỡng da</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Áo khoác</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bộ áo liền quần</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Dresses</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần / Váy</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần short</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần jean</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Đồ đan</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Áo nỉ</a>
                            </li>
                          </ul>
                        </div>
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Nước hoa</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Áo cánh / Áo sơ mi</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Túi xách &amp; Balo</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Khăn quàng cổ và Foulards</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Dệt kim Hát &amp; Gloves</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Vở &amp; Socks</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Jewerly</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bị bảo vệ</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Giày</a>
                            </li>
                          </ul>
                        </div>
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Trang sức</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Áo cánh / Áo sơ mi</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Túi xách &amp; Balo</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Khăn quàng cổ và Foulards</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Dệt kim Hát &amp; Gloves</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Vở &amp; Socks</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Jewerly</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bị bảo vệ</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Giày</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav__link">
                  <div class="dropdowm">
                    <a
                      class="dropdown-toggle"
                      href="#"
                      data-bs-toggle="dropdown"
                      >Tin tức</a
                    >
                    <div class="dropdown-menu nav-dropdown__menu">
                      <div class="nav-dropdown__wrapper">
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Dưỡng da</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Áo khoác</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bộ áo liền quần</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Dresses</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần / Váy</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần short</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần jean</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Đồ đan</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Áo nỉ</a>
                            </li>
                          </ul>
                        </div>
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Nước hoa</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Áo cánh / Áo sơ mi</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Túi xách &amp; Balo</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Khăn quàng cổ và Foulards</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Dệt kim Hát &amp; Gloves</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Vở &amp; Socks</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Jewerly</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bị bảo vệ</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Giày</a>
                            </li>
                          </ul>
                        </div>
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Trang sức</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Áo cánh / Áo sơ mi</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Túi xách &amp; Balo</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Khăn quàng cổ và Foulards</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Dệt kim Hát &amp; Gloves</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Vở &amp; Socks</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Jewerly</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bị bảo vệ</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Giày</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav__link">
                  <div class="dropdowm">
                    <a
                      class="dropdown-toggle"
                      href="#"
                      data-bs-toggle="dropdown"
                      >Bản đồ</a
                    >
                    <div class="dropdown-menu nav-dropdown__menu">
                      <div class="nav-dropdown__wrapper">
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Dưỡng da</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Áo khoác</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bộ áo liền quần</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Dresses</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần / Váy</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần short</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần jean</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Đồ đan</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Áo nỉ</a>
                            </li>
                          </ul>
                        </div>
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Nước hoa</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Áo cánh / Áo sơ mi</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Túi xách &amp; Balo</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Khăn quàng cổ và Foulards</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Dệt kim Hát &amp; Gloves</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Vở &amp; Socks</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Jewerly</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bị bảo vệ</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Giày</a>
                            </li>
                          </ul>
                        </div>
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Trang sức</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Áo cánh / Áo sơ mi</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Túi xách &amp; Balo</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Khăn quàng cổ và Foulards</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Dệt kim Hát &amp; Gloves</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Vở &amp; Socks</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Jewerly</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bị bảo vệ</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Giày</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav__link">
                  <div class="dropdowm">
                    <a
                      class="dropdown-toggle"
                      href="#"
                      data-bs-toggle="dropdown"
                      >Liên hệ</a
                    >
                    <div class="dropdown-menu nav-dropdown__menu">
                      <div class="nav-dropdown__wrapper">
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Dưỡng da</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Áo khoác</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bộ áo liền quần</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Dresses</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần / Váy</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần short</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Quần jean</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Đồ đan</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Áo nỉ</a>
                            </li>
                          </ul>
                        </div>
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Nước hoa</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Áo cánh / Áo sơ mi</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Túi xách &amp; Balo</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Khăn quàng cổ và Foulards</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Dệt kim Hát &amp; Gloves</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Vở &amp; Socks</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Jewerly</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bị bảo vệ</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Giày</a>
                            </li>
                          </ul>
                        </div>
                        <div class="link-group-cus">
                          <h5 class="link-group__title">Trang sức</h5>
                          <ul class="link-group__links">
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Áo cánh / Áo sơ mi</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Túi xách &amp; Balo</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Khăn quàng cổ và Foulards</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#"
                                >Dệt kim Hát &amp; Gloves</a
                              >
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Vở &amp; Socks</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Jewerly</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Bị bảo vệ</a>
                            </li>
                            <li class="link-item__wrapper">
                              <a class="link-item" href="#">Giày</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="nav__left-box">
              <div class="cart__dropdown dropdown">
                <a
                  class="nav__cart-icon dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  ><i class="fa-solid fa-cart-shopping"></i
                ></a>
                <span class="cart__quantity" data-num="0">0</span>
                <div class="dropdown-menu cart-menu__items">
                  <div class="cart-menu__items-box"></div>
                  <div class="line"></div>
                  <div class="cart-menu__total">
                    <p>Tổng:</p>
                    <h5 class="cart-menu__total-num">240.000đ</h5>
                  </div>
                  <button class="btn btn-dark btn-lg menu-cart__btn">
                    GIỎ HÀNG
                  </button>
                </div>
              </div>
              <button class="btn">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
              <button class="nav__button-toggle d-lg-none">
                <i class="nav__menu-icon fa-solid fa-bars"></i>
              </button>
            </div>
          </div>
        </nav>
      </header>
      <main class="products-page">
        <div
          class="breadcrumb__wrapper page-margin"
          style="--bs-breadcrumb-divider: '&gt;'"
          aria-label="breadcrumb"
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Sản phẩm</li>
            <li class="breadcrumb-item" aria-current="page">Trang Sức</li>
          </ol>
        </div>
        <div class="products-page__banner-box d-none d-xl-block">
          <img src="../assets/images/grid_list_banner.png" alt="banner" />
        </div>
        <div class="product-list__wrapper container-fluid page-padding">
          <div class="row">
            <div class="products-page__sidebar col-xl-3">
              <div class="sidebar__category">
                <div class="sidebar__category-title">
                  <i class="fa-solid fa-bars"></i>
                  <p>DANH MỤC SẢN PHẨM</p>
                </div>
                <div class="sidebar__categories">
                  <div class="category-item__wrapper" data-id="1">
                    <p class="category-item__title">MỸ PHẨM</p>
                    <i class="fa-solid fa-caret-right"></i>
                  </div>
                  <div class="category-item__wrapper" data-id="2">
                    <p class="category-item__title">TRANG SỨC</p>
                    <i class="fa-solid fa-caret-right"></i>
                  </div>
                  <div class="category-item__wrapper" data-id="3">
                    <p class="category-item__title">PHỤ KIỆN</p>
                    <i class="fa-solid fa-caret-right"></i>
                  </div>
                  <div class="category-item__wrapper" data-id="4">
                    <p class="category-item__title">NƯỚC HOA</p>
                    <i class="fa-solid fa-caret-right"></i>
                  </div>
                </div>
                <div class="sidebar__compare">
                  <h4 class="compare__title">SO SÁNH SẢN PHẨM</h4>
                  <p class="compare__des">
                    Bạn chưa có sản phẩm nào để so sánh
                  </p>
                </div>
                <div class="sidebar__product-tag">
                  <h4 class="product-tag__title">TAG SẢN PHẨM</h4>
                  <div class="product-tag__list">
                    <div class="card pe-3 ps-3 pb-1 pt-1 position-static">
                      Túi
                    </div>
                    <div class="card pe-3 ps-3 pb-1 pt-1 position-static">
                      Phụ kiện
                    </div>
                    <div class="card pe-3 ps-3 pb-1 pt-1 position-static">
                      Đồng hồ
                    </div>
                    <div class="card pe-3 ps-3 pb-1 pt-1 position-static">
                      Sandal
                    </div>
                    <div class="card pe-3 ps-3 pb-1 pt-1 position-static">
                      Trẻ em
                    </div>
                    <div class="card pe-3 ps-3 pb-1 pt-1 position-static">
                      Hoa tai
                    </div>
                    <div class="card pe-3 ps-3 pb-1 pt-1 position-static">
                      Son
                    </div>
                    <div class="card pe-3 ps-3 pb-1 pt-1 position-static">
                      Nước hoa
                    </div>
                    <div class="card pe-3 ps-3 pb-1 pt-1 position-static">
                      Giày
                    </div>
                    <div class="card pe-3 ps-3 pb-1 pt-1 position-static">
                      Sandal
                    </div>
                  </div>
                </div>
                <div class="search__wrapper input-group-lg">
                  <input
                    class="search__input form-control"
                    type="text"
                    name="search"
                    placeholder="seach"
                    id="search"
                  />
                  <button class="search__btn btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </div>
              </div>
            </div>
            <section class="product-grid col-xl-9">
              <div class="pagation-box">
                <div class="pagation--left">
                  <i class="fa-solid fa-border-all"></i
                  ><i class="fa-solid fa-list"></i>
                </div>
                <div class="pagation--right">
                  <i class="fa-solid fa-caret-left"></i>
                  <p class="pagation__page active">1</p>
                  <p class="pagation__page">2</p>
                  <p class="pagation__page">3</p>
                  <i class="fa-solid fa-caret-right"></i>
                </div>
              </div>
              <div class="product-grid__main container-fluid">
                <div class="row"></div>
              </div>
              <div class="pagation-box">
                <div class="pagation--left">
                  <i class="fa-solid fa-border-all"></i
                  ><i class="fa-solid fa-list"></i>
                </div>
                <div class="pagation--right">
                  <i class="fa-solid fa-caret-left"></i>
                  <p class="pagation__page active">1</p>
                  <p class="pagation__page">2</p>
                  <p class="pagation__page">3</p>
                  <i class="fa-solid fa-caret-right"></i>
                </div>
              </div>
            </section>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footer__link-groups">
          <div class="link-group-cus footer__link-group">
            <h5 class="link-group__title footer__title">
              LIÊN HỆ VỚI CHÚNG TÔI
            </h5>
            <ul class="link-group__links footer__links">
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#"
                  >Tầng 4, Tòa nhà Hanoi Group Số 443 Đội Cấn, P. Cổng Vị, Q. Ba
                  Đình, Hà Nội</a
                >
              </li>
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#"
                  >(04) 6674 2332 - (04) 3786 8904</a
                >
              </li>
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#"
                  >(08) 6680 9686 - Support@bizweb.vn</a
                >
              </li>
            </ul>
          </div>
          <div class="link-group-cus footer__link-group">
            <h5 class="link-group__title footer__title">CHUYỂN HÀNG</h5>
            <ul class="link-group__links footer__links">
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#"
                  >Mua sắm trực tuyến</a
                >
              </li>
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#"
                  >Đến từ chúng tôi gửi đến</a
                >
              </li>
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#"
                  >Chính sách vận chuyển</a
                >
              </li>
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#"
                  >Vận chuyển thông tin</a
                >
              </li>
            </ul>
          </div>
          <div class="link-group-cus footer__link-group">
            <h5 class="link-group__title footer__title">HỖ TRỢ</h5>
            <ul class="link-group__links footer__links">
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#"
                  >Câu chuyện của chúng tôi</a
                >
              </li>
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#"
                  >Thanh toán án toàn</a
                >
              </li>
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#"
                  >Tùy chọn vận chuyển</a
                >
              </li>
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#"
                  >Chính sách vận chuyển</a
                >
              </li>
            </ul>
          </div>
          <div class="link-group-cus footer__link-group">
            <h5 class="link-group__title footer__title">THÔNG TIN</h5>
            <ul class="link-group__links footer__links">
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#">Về chúng tôi</a>
              </li>
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#"
                  >Điều khoản &amp; điều kiện</a
                >
              </li>
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#"
                  >Chính sách riêng tư</a
                >
              </li>
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#"
                  >Đơn đặt hàng và Returns</a
                >
              </li>
            </ul>
          </div>
          <div class="link-group-cus footer__link-group">
            <h5 class="link-group__title footer__title">MY ACCOUNT</h5>
            <ul class="link-group__links footer__links">
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#">Xem giỏ hàng</a>
              </li>
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#"
                  >Sản phẩm yêu thích</a
                >
              </li>
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#">kiểm tra</a>
              </li>
              <li class="link-item__wrapper footer__item">
                <a class="link-item footer__link" href="#"
                  >Theo dõi đặt hàng của tôi</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__copyright">
          <p class="copyright__content">
            @ Copyright 2008-2014 DKT Technology JS
          </p>
          <img
            class="payment-icon"
            src="../assets/images/payment-method.png"
            alt="payment method"
          />
        </div>
      </footer>
    </div>
    <!-- <div
      class="modal fade new-letter__modal"
      id="popup-newletter"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog new-letter__dialog">
        <div class="model-content new-letter__content">
          <div class="modal-body new-letter__body">
            <div class="new-letter__body-box">
              <h2 class="new-letter__title">GỬI EMAIL</h2>
              <div class="new-letter__des-box">
                <p class="new-letter__des">
                  Hãy gửi email liên hệ với chúng tôi để được tư vấn tốt nhẩt
                </p>
                <p class="new-letter__des">
                  Sự hài lòng của bạn là thành công của chúng tôi
                </p>
              </div>
              <form class="new-letter__form">
                <input
                  class="new-letter__input"
                  type="text"
                  id="new-letter-input"
                  placeholder="Email của bạn..."
                /><a href="#">GỬI EMAIL </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- model -->
    <div
      class="modal fade add-modal__box"
      id="addCartModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="add-modal__content modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">ADD TO CART</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="add-modal__body modal-body">
            <form class="add-cart__form">
              <div class="select-input__color select-input__wrapper form-group">
                <label class="select-input__title" for="color-select"
                  >MÀU SẮC</label
                >
                <select
                  class="select-input__item form-control form-select"
                  id="color-select"
                >
                  <option>Màu bạc</option>
                  <option>Màu hồng</option>
                  <option>Màu vàng</option>
                </select>
              </div>
              <div class="select-input__size select-input__wrapper form-group">
                <label class="select-input__title" for="size-select"
                  >SIZE</label
                >
                <select
                  class="select-input__item form-control form-select"
                  id="size-select"
                >
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                </select>
              </div>
              <div class="form-group cus-input__wrapper">
                <label class="cus-input__title" for="number-input"
                  >SỐ LƯỢNG</label
                >
                <input
                  class="form-control cus-input__item"
                  type="number"
                  id="number-input"
                  placeholder=""
                  value="1"
                />
              </div>
            </form>
          </div>
          <div class="add-modal__footer modal-footer">
            <button
              type="button"
              class="btn btn-secondary btn-lg"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button
              type="button"
              class="btn btn-lg btn--primary add-modal__submit-btn"
              data-bs-dismiss="modal"
            >
              Add Cart
            </button>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="../js/pages/grid.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
